@import "@styles/style.scss";

.page-wrapper {
    @include flex($direction: column, $gap: 50px);

    & {
        padding: 50px 100px;
        max-width: 1920px;
        margin-inline: auto;
    }

    &__title {
        @include font($size: 46px, $weight: 700);
    }
}