@import "@styles/style.scss";

.message {
	@include flex($align: flex-end, $gap: 10px);

	& {
		width: 100%;
		max-width: 550px;
	}

	&__avatar {
		object-fit: cover;
		border-radius: 50%;
		height: 40px;
		width: 40px;
	}

	&__content {
		@include flex($direction: column, $gap: 5px);

		& {
			background: var(--primary-background-color);
			border-radius: 25px;

			padding: 10px 20px;
            width: max-content;
		}
	}
	&__text {
        @include font($size: 20px, $weight: 400, $color: var(--text-alt-color));
	}
	&__info {
        @include flex($justify: flex-end, $align: center, $gap: 15px);

		& {
			width: 100%;
		}
	}
	&__span {
		width: fit-content;

        &,
        &::before {
            @include font($size: 14px, $weight: 400, $color: var(--gray-color));
        }

		&--read {
			&::before {
				color: var(--blue-color);
			}
		}
	}
}
