@import "@styles/style.scss";

.task-card {
	$text-color: var(--text-alt-color);

	@include flex($direction: column);

	& {
		border: 5px solid var(--blue-color);
		border-radius: 35px;
		width: 350px;
	}

	&__header,
	&__title {
		width: 100%;
	}

	&__header {
		background: var(--blue-color);
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
		height: 40px;
		position: relative;

		&::before {
			content: "";

			background: var(--yellow-color);
			border-radius: 50%;

			position: absolute;
			top: 50%;
			right: 10px;
			translate: 0 -50%;

			aspect-ratio: 1;
			height: 50%;
		}
	}

	&__content {
		@include flex($direction: column, $gap: 20px);

		& {
			background: var(--primary-background-color);
			border-bottom-left-radius: 30px;
			border-bottom-right-radius: 30px;
			padding: 25px 20px 35px 20px;
			width: 100%;
		}
	}

	&__title {
		@include font($size: 24px, $weight: 600, $color: $text-color);

		& {
			text-align: center;
		}
	}

	&__text {
		@include font($size: 18px, $color: $text-color);

		& {
			text-overflow: ellipsis;
			overflow: hidden;
			display: -moz-box;
			-moz-box-orient: vertical;
			display: -webkit-box;
			-webkit-line-clamp: 10;
			-webkit-box-orient: vertical;
			line-clamp: 10;
			box-orient: vertical;
		}
	}

	&__tag-list {
		@include flex($gap: 10px, $wrap: wrap);
		@include scrollbar;

		& {
			max-height: 350px;
			width: 100%;
		}
	}
	&__tag-item {
		&--delete {
			cursor: pointer;

			&:hover {
				opacity: 0.8;
			}
		}

		&--add {
			@include flex($align: center, $gap: 5px);
			@include font($size: 14px, $color: var(--text-alt-color));

			& {
				cursor: pointer;

				box-shadow: 0 1px 5px #00000077;
				border-radius: 25px;
				padding: 2px 8px;
				height: 22px;
			}

			&:hover {
				opacity: 0.8;
			}
		}
	}
	&__tag-icon {
		&::before {
			font-size: 12px;
		}
	}
}
