@import "@styles/style.scss";

.action-dropdown {
	@include flex($direction: column, $gap: 7px);

	& {
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
		background: var(--primary-background-color);
		border-radius: 6px;

		position: absolute;
		top: calc(100% + 5px);
		right: 0;

		transition: all 0.3s linear;

		padding: 6px 12px;

		width: max-content;
		min-width: 100%;
	}

	&:not(.action-dropdown--active) {
		visibility: hidden;
		opacity: 0;
	}

	&__item {
		width: 100%;

		&--separator {
			border-bottom: 0.5px solid var(--primary-icon-color);
			padding-bottom: 7px;
		}
	}

	&__button {
		@include flex($align: center, $gap: 10px);
		@include font($size: 14px, $weight: 400, $color: var(--text-alt-color));

		&:hover {
			opacity: 0.7;
		}
		&:active {
			opacity: 0.8;
		}
	}

	&__icon {
		&::before {
			color: var(--primary-icon-color);
			font-size: 12px;
		}
	}
}
