@import "@styles/style.scss";

.header-item {
	@include flex($align: center, $gap: 10px);
	@include font($size: 15px, $weight: 600);

	& {
		padding: 3px 5px;
		transition: all 0.3s linear;
	}

	&:hover {
		backdrop-filter: blur(5px);
		background: rgba(255, 255, 255, 0.35);
	}

	&__icon {
		&::before {
			font-size: 16px;
		}
	}
}
