@import "@styles/style.scss";

.button {
    $background-color: #fff;
    $background-hover-color: rgba(255, 255, 255, 0.7);

    @include flex-center($gap: 10px);
    @include font($size: 16px, $weight: 600, $color: var(--text-alt-color));

    & {
        background: $background-color;
        border: 1px solid $background-color;
        border-radius: 10px;

        padding: 3px 15px;

        transition: all .3s ease;
    }

    &:hover {
        background: $background-hover-color;
        border-color: $background-hover-color;
    }

    &--secondary {
        $background-hover-color: rgba(255, 255, 255, 0.3);

        color: var(--text-color);
        background: transparent;

        &:hover {
            background: $background-hover-color;
            border-color: $background-hover-color;
        }
    }
}