@import "@styles/style.scss";

.header {
	@include flex($justify: space-between, $align: center, $gap: 50px);

	& {
		padding: 10px 20px;
		height: 100%;
		width: 100%;
		max-width: 1920px;
	}

	&__wrapper {
		@include flex-center;

		& {
			background: var(--blue-color);
			height: 60px;
		}
	}

	&__logo {
		height: 100%;
	}
	&__logo-image {
		height: 100%;
	}

	&__right {
		@include flex($align: center, $gap: 30px);
	}
	&__list {
		@include flex($align: center, $gap: 20px);
	}

	&__auth-buttons {
		@include flex($align: center, $gap: 10px);
	}
}
