@import "@styles/style.scss";

.modal {
	@include scrollbar;

	& {
		background: #fff;
		border: 2px solid var(--blue-color);
		border-radius: 25px;

		padding: 35px 50px;
		position: relative;

		transition: all 0.3s linear;

		max-height: 80dvh;
		width: 500px;
	}

	&:not(.modal--active) {
		.modal__overlay {
			visibility: hidden;
			opacity: 0;
		}
	}

	&__overlay {
		@include flex-center;

		& {
			background: rgba(0, 0, 0, 0.4);

			position: fixed;
			top: 0;
			left: 0;

			height: 100%;
			width: 100%;
		}
	}

	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
	}
	&__close-icon {
		&::before {
			color: var(--primary-icon-color);
			font-size: 15px;
		}
	}
}
